.table-row-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  color: #2290FF;
  letter-spacing: 1px;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  font-weight: 300;
}

.table-row-button .icon {
  margin-right: 1rem;
}

.table-header.grey { background: #F6F6F6 }

