.empty-message {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.empty-message h3 {
  color: #828793;
  margin-top: .5rem;
  font-weight: 300;
  letter-spacing: 1px;
  max-width: 20rem;
}

.empty-message .icon {
  font-size: 3rem;
}
